.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}


.dialogsItem {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dialogsItem .active {
  color: gold;
  text-decoration: none;
}

.dialog {
  
}

.messages {
  padding: 10px;
}

.message {

}


